<!DOCTYPE html>
<html>
  <head>
    <title>Sample Layout</title>
    <!--
    <script type="text/javascript" src="/javascripts/zepto.min.js"></script>
    <script type="text/javascript">
      Zepto(function() {
        var user = '<%= @user.uuid %>';
        var body = Zepto('body');
        var container = Zepto('.bkbk');
        var search = Zepto('.bkbk-search');
        var searchInput = search.find('input');
        var loading = Zepto('.bkbk-loading');
        
        // Stop propagation of click events in the container so as to not close the panel
        Zepto('.bkbk').on('click', function(e) {
          e.stopPropagation();
        });
        
        // Watch for clicks on the background and close the panel
        // Zepto(document).one('click', function(e) {
        //   container.animate({'left':'-305px'}, 500, 'ease');
        // });
        
        // Show the list and put the cursor in the search box
        // container.animate({'left':'0'}, 500, 'ease');
        search.find('input').focus();
        
      
        // Add a bookmark to the list
        var addBookmark = function(data, visible, placement) {
          if (arguments.length == 2) {
            placement = function(item) { $('.bkbk ul').append(item) };
          }
          console.info("placement: " + placement);
          Zepto.each(data, function(id, data) {
            var itemContent = '<div class="bkbk-show_container"><a href="' + data['link'] + '" class="bkbk-link">' + data['title'] + '</a><div class="bkbk-actions"><a href="#" class="bkbk-edit"><i title="Edit" class="icon-pencil"></i></a><a href="#" class="bkbk-delete"><i title="Delete" class="icon-trash"></i></a></div></div><div class="bkbk-edit_container" style="display:none"><input class="bkbk-edit_title" value="'+data['title']+'"><input class="bkbk-edit_link" value="'+data['link']+'"><a href="#" class="bkbk-edit_save"><i title="Save" class="icon-ok"></i></a><a href="#" class="bkbk-edit_cancel"><i title="Cancel" class="icon-cancel"></i></a></div>';
            var item = Zepto('<li>').attr('id', id).addClass('bkbk-bookmark').data('title',data['title']).html(itemContent);
            !visible ? item.css('opacity','0') : null;
            
            placement.call(this, item);
/*
            if (position === undefined) {
              console.info('position undefined')
              Zepto('.bkbk ul').append(item);
            } else if (position['after']) {
              console.info('position after')
              position['after'].after(item);
            } else if (position['before']) {
              console.info('position before')
              position['before'].before(item);
            }
*/
            !visible ? item.fadeIn() : null;
          });
        };
        
        // Perform a remote call by adding a <script> tag to the page
        var doRemote = function(path, callback, params) {
          var remoteScript = document.createElement('script');
          var url = '//<%= host_with_port %>/' + path + '?r=' + new Date().getTime() + '&callback=' + callback;
          if (params) {
            Zepto.each(params, function(key,value) {
              url += '&' + key + '=' + value;
            });
          }
          remoteScript.setAttribute('src', url);
          remoteScript.setAttribute('type','text/javascript');
          document.body.appendChild(remoteScript);
        };
        
        // Show and hide the "new bookmark" area
        var showHideNew = function() {
          var add = Zepto('.bkbk-add_container')
          add.toggle();
          if (add.is(':visible')) {
            Zepto('.bkbk-add').hide();
            Zepto('.bkbk-add_cancel').show();
            Zepto('.bkbk-new_title').focus();
          } else {
            Zepto('.bkbk-add').show();
            Zepto('.bkbk-add_cancel').hide();
            searchInput.focus();
          }
        };
        
        var showHideEdit = function(obj) {
          var $this = Zepto(obj);
          if ($this.closest('.bkbk-edit_container').is(':visible')) {
            $this.closest('.bkbk-edit_container').hide().siblings('.bkbk-show_container').show();
            searchInput.focus();
          } else {
            $this.closest('.bkbk-show_container').hide().siblings('.bkbk-edit_container').show().find('.bkbk-edit_title').focus();
          }
        };
      
        //////////////////
        // Callbacks
        //////////////////
        
        // Loading bookmarks callback
        window.bkbkLoad = function(data) {
          loading.hide();
          Zepto.each(data, function(i, item) {
            addBookmark(item, true);
          });
        };
        
        window.bkbkAdd = function(data) {
          addBookmark(data, false);
        };
        
        window.bkbkEdit = function(data) {
          Zepto.each(data, function(id, hash) {
            var current = $('#'+id);
            var placement;
            
            if ($('#'+id).prev().length != 0) {
              placement = function(item) { 
                current.prev().after(item);
                current.remove();
              };
            } else if ($('#'+id).next().length != 0) {
              placement = function(item) { 
                current.next().before(item);
                current.remove();
              };
            }
            
            addBookmark(data, true, placement);
          });
        };
        
        window.bkbkDelete = function(data) {
          Zepto.each(data, function(id, data) {
            Zepto('#'+id).fadeOut();
          });
        };




        ///////////////
        // Search
        ///////////////
        var doSearch = function(e) {
          var keyword = Zepto(this).val().toLowerCase();
          if (keyword == '') {
            Zepto('.bkbk-bookmark').show();
          } else {
            Zepto('.bkbk-bookmark').each(function() {
              var title = Zepto(this).data('title').toLowerCase();
              if (title.match(keyword)) {
                Zepto(this).show();
              } else {
                Zepto(this).hide();
              }
            });
          }
        }
        searchInput.on('keyup', doSearch).on('search', doSearch);



        Zepto('.bkbk-new_title').val(document.title);
        Zepto('.bkbk-new_link').val(location.href);
        searchInput.focus();
        
        
        
        ///////////////
        // Buttons
        ///////////////
        
        // Saving a new bookmark
        Zepto('.bkbk-new_save').on('click', function(e) {
          showHideNew();
          doRemote(user+'/bookmarks/create', 'bkbkAdd', {"title":Zepto('.bkbk-new_title').val(), "link":Zepto('.bkbk-new_link').val()});
          e.preventDefault();
        });
        
        // Pressing ENTER inside the title or link textboxes should save
        Zepto('.bkbk-new_title, .bkbk-new_link').on('keypress', function(e) {
          if (e.keyCode == 13) {
            Zepto('.bkbk-new_save').trigger('click');
          }
        });
        
        // New add/cancel buttons
        Zepto('.bkbk-add, .bkbk-add_cancel').on('click', function(e) {
          showHideNew();
          e.preventDefault();
        });
        
        
                
        // Editing a bookmark
        Zepto('ul').on('click', '.bkbk-edit', function(e) {
          showHideEdit(this);
          e.preventDefault();
        });
        
        // Saving an edit
        Zepto('ul').on('click', '.bkbk-edit_save', function(e) {
          var id = Zepto(this).closest('li').attr('id');
          showHideEdit(this);
          doRemote(user+'/bookmarks/'+id+'/update', 'bkbkEdit', {"title":Zepto(this).siblings('.bkbk-edit_title').val(), "link":Zepto(this).siblings('.bkbk-edit_link').val()})
          e.preventDefault();
        });
        
        // Pressing ENTER inside the title or link textboxes should save edits
        Zepto('ul').on('keypress', '.bkbk-edit_title, .bkbk-edit_link', function(e) {
          if (e.keyCode == 13) {
            $(this).siblings('.bkbk-edit_save').trigger('click');
          }
        });
        
        // Cancel an edit
        Zepto('ul').on('click', '.bkbk-edit_cancel', function(e) {
          showHideEdit(this);
          e.preventDefault();
        });
        
        
        
        // Deleting a bookmark
        Zepto('ul').on('click', '.bkbk-delete', function(e) {
          var id = Zepto(this).closest('li').attr('id');
          doRemote(user+'/bookmarks/'+id+'/destroy', 'bkbkDelete');
          e.preventDefault();
        });
        
        // Finally, load the list of bookmarks
        doRemote(user+'/bookmarks', 'bkbkLoad');
        
      });
    </script>
    <style type="text/css">
    
      /*
      @font-face {
      	font-family: 'Pictos';
      	src: url('/fonts/pictos-web.eot');
      	src: local('☺'), url('/fonts/pictos-web.woff') format('woff'), 
      	     url('/fonts/pictos-web.ttf') format('truetype'), 
      	     url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
      	font-weight: normal;
      	font-style: normal;
      }
      */
      
      @charset "UTF-8";
      
      @font-face {
        font-family: 'bkbk';
        src: url('/fonts/bkbk.eot');
        src: url('/fonts/bkbk.eot?#iefix') format('embedded-opentype'),
             url('/fonts/bkbk.woff') format('woff'),
             url('/fonts/bkbk.ttf') format('truetype'),
             url('/fonts/bkbk.svg#bkbk') format('svg');
        font-weight: normal; font-style: normal;
      }
      
      [class^="icon-"], [class*=" icon-"] {
        font-family: bkbk;
        font-style: normal;
        text-align: center;
        text-shadow: 1px 1px 0px white;
      }
      
      .icon-plus:before { content: "+"; } /* '\2b' */
      .icon-minus:before { content: "-"; } /* '\2d' */
      .icon-heart-empty:before { content: "♡"; } /* '\2661' */
      .icon-heart:before { content: "♥"; } /* '\2665' */
      .icon-cog:before { content: "⚙"; } /* '\2699' */
      .icon-pencil:before { content: "✎"; } /* '\270e' */
      .icon-ok:before { content: "✓"; } /* '\2713' */
      .icon-cancel:before { content: "✕"; } /* '\2715' */
      .icon-trash:before { content: ""; } /* '\e729' */
      .icon-folder:before { content: "📁"; } /* '\1f4c1' */
      .icon-folder-open:before { content: "📂"; } /* '\1f4c2' */


      .bkbk {
        font-family:Helvetica Neue, sans-serif;
        font-size:13px;
        position:fixed;
        width:260px;
        height:100%;
        padding:0;
        overflow-x:hidden;
        overflow-y:auto;
        z-index:9999;
        top:0;
        left:-305px;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
        background-color:#eee}

      .bkbk-search{
        padding: 8px 10px;
        margin: 0;
        background-color: #dddddd;
        border-bottom: 1px solid #cccccc;}
      .bkbk-search input{
        width: 100%;
        font-size: 14px;
        font-family: Helvetica Neue,sans-serif}
      
      .bkbk-new i {
        text-shadow: none;
      }
      .bkbk a.bkbk-new_save {
        padding: 4px 6px 4px 5px;
        margin-left: 5px;
        background-image: -webkit-linear-gradient(#479c4a 0%, #146c18 53.31%, #3b7d38 100%);      
        background-image: -moz-linear-gradient(#479c4a 0%, #146c18 53.31%, #3b7d38 100%);      
        color: #ffffff;
        -webkit-border-radius: 4px
      }
      .bkbk a.bkbk-add, .bkbk a.bkbk-add_cancel {
        display: block;
        float: right;
        margin-top: -2px;
        padding: 4px 6px;
        margin-right: 8px;
        color: #ffffff;
        -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
      }
      .bkbk-add {
        background-image: -webkit-linear-gradient(#479c4a 0%, #146c18 14.24%, #3b7d38 100%);      
        background-image: -moz-linear-gradient(#479c4a 0%, #146c18 14.24%, #3b7d38 100%);      
      }
      .bkbk-add_cancel {
        position: relative;
        z-index: 2;
        background-image: -webkit-linear-gradient(#9c4747 0%, #6c1515 14.24%, #7e3939 100%);      
        background-image: -moz-linear-gradient(#9c4747 0%, #6c1515 14.24%, #7e3939 100%);      
      }
      .bkbk-loading{
        display:block;
        width:32px;
        margin:50px auto}
      
      .bkbk ul{
        margin: 23px 0 0;
        padding: 0;
        list-style: none;
        line-height: 1;
        clear: left
        }
      .bkbk li {
        display: block;
        padding: 0 4px 0 12px;
        text-align: left;
        overflow: hidden;
        cursor: pointer;
        }
        .bkbk li:hover {
          background-color:#fbfbfb;
          color:#333;
          -webkit-transition:background-color 0.1s linear;
          }
        .bkbk a {
          color:#369;
          text-decoration:none;
          }
        .bkbk-link {
          width: 200px;
          display: block;
          float: left;
          padding: 8px 0
          }
        .bkbk-actions {
          display: block;
          float: right;
          opacity: 0;
          font-size: 16px;
          margin-top: 6px;
        }
        .bkbk li:hover .bkbk-actions {
          opacity: 1;
        }
        .bkbk i {
          padding: 0 0.2em;
        }
        .bkbk-actions a {
          color: #cccccc;
          margin-right: 3px;
        }
          .bkbk-actions a:hover {
            color: #336699;
          }
          a.bkbk-delete:hover {
            color: #990000;
          }
        .bkbk-add_container {
          min-height: 1px;
          padding: 6px 0 6px 10px;
        }
          .bkbk-add_container input {
            width: 80%;
          }
        .bkbk-edit_container input {
          width: 80%;
        }
          a.bkbk-edit_save, a.bkbk-edit_cancel {
            color: #bbbbbb;
            font-size: 14px;
            padding: 0 1px;
          }
          a.bkbk-edit_save {
            margin-left: 3px;
          }
            a.bkbk-edit_save:hover {
              color: #009900;         
            }
            a.bkbk-edit_cancel:hover {
              color: #990000;            
            }
      
      .bkbk-footer {
        display: block;
        width: 246px;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px 4px 0 10px;
        background-image: -webkit-linear-gradient(rgba(240,240,240,0) 0%, rgba(240,240,240,1) 20%);
        background-image: -moz-linear-gradient(rgba(240,240,240,0) 0%, rgba(240,240,240,1) 20%);
      }
        .bkbk-settings {
          display: block;
          float: right;
          font-size: 18px;
        }
        a.bkbk-settings {
          color: #aaaaaa;
        }
        a.bkbk-settings:hover {
          color: #333333;
        }
        a.bkbk-logo {
          display: block;
          float: left;
          font-style: italic;
          font-weight: 200;
          background-color: #aaaaaa;
          padding: 5px 10px 5px 8px;
          color: #ffffff;
        }
        a.bkbk-logo:hover {
          background-image: -webkit-linear-gradient(#336699 0%, #194169 100%);
          background-image: -moz-linear-gradient(#336699 0%, #194169 100%);
        }
        .bkbk-logo i {
          margin-right: 2px;
          text-shadow: none;
        }
        .bkbk-logo span {
          font-weight: 700;
        }
    </style>
    -->
  </head>
  <body>
  
    <!--
    <div class="bkbk" style="left: 0px;">
      <div class="bkbk-search">
        <input type="search" placeholder="Search" results="10" autosave="bkbk-search">
      </div>
      <div class="bkbk-new">
        <a href="#" class="bkbk-add"><i title="Add" class="icon-plus"></i></a>
        <a href="#" class="bkbk-add_cancel" style="display:none"><i title="Cancel" class="icon-cancel"></i></a>
        <div class="bkbk-add_container" style="display:none">
          <input class="bkbk-new_title" type="text" placeholder="Title">
          <input class="bkbk-new_link" type="text" placeholder="http://">
          <a href="#" class="bkbk-new_save"><i title="Save" class="icon-ok"></i></a>
        </div>
      </div>
      <img src="/images/indicator_medium.gif" class="bkbk-loading">
      <ul></ul>
      <div class="bkbk-footer">
        <a href="//bookmarkbookmark.com" class="bkbk-logo"><i class="icon-heart-empty"></i>bookmark<span>bookmark</span></a>
        <a href="#" class="bkbk-settings"><i title="Settings" class="icon-cog"></i></a>
      </div>
    </div>
    -->
    <div class="main" style="text-align:right">
      <a id="link" title="BookmarkBookmark">BookmarkBookmark</a>
      <textarea id="bookmarklet" rows="5" cols="40"></textarea>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <script type="text/javascript">
        content = "javascript:(function(){";
        content += "  var w = window,";
        content += "  d = window.document,";
        content += "  s = d.createElement('script'),";
        content += "  l = encodeURIComponent(w.location),";
        content += "  lib = ('__proto__' in {} ? 'zepto' : 'jquery'),";
        content += "  u = '//<%= options.environment == :development ? '10.0.0.17:4567' : 'bookmarkbookmark.com' %>/bkbk.js?u=9c8ee790-880d-012f-bf7e-60f8472ce36e&lib='+lib;";
        content += "  function load() {";
        content += "    if (d.readyState && d.readyState != 'complete') {";
        content += "      setTimeout(load, 200);";
        content += "    } else {";
        content += "      s.setAttribute('src', u);";
        content += "      s.setAttribute('type', 'text/javascript');";
        content += "      d.body.appendChild(s);";
        content += "    }";
        content += "  }";
        content += "  load();";
        content += "}())";
        document.getElementById('link').setAttribute('href', content.replace(/ +/g," "));
        document.getElementById('bookmarklet').value = content.replace(/ +/g," ");
      </script>
    </div>
  </body>
</html>
